@model IEnumerable<Krispy.Models.Sales>;

@{
    ViewData["Title"] = "TotalSales";
}

<div>All sales.</div>

<p>
    <a asp-action="Create">Create new order</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direction)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Amount)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.UserName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Direction)
                </td>
                <td>
                    @foreach (var tmp in ViewBag.data)
                    {
                        if (item.Type == tmp.Id)
                        {
                            @tmp.Name
                        }
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Amount)
                </td>
                <td>
                    <!--<a asp-action="Edit" asp-route-id="@item.Id">Update my order</a>
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                        <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>-->
                </td>
            </tr>
        }
    </tbody>
</table>


<a asp-action="Index">Back Home</a>
